/ Header
%header
  .container
    .row
      .col-lg-12
        = image_tag 'profile.png', class: 'image-responsive'
        .intro-text
          %span.name Nice Programing
          %hr.star-light
          %span.skills Técnicas de Programación Depingas





