/ Footer
%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3 Dirección
          %p
            C.C Villa Los Chorros
            %br>/
            Donde nombran mucho a Toño
        .footer-col.col-md-4
          %h3 Redes Sociales
          %ul.list-inline
            %li
              %a.btn-social.btn-outline{:href => "https://www.facebook.com/ricardoxavierg"}
                %i.fa.fa-fw.fa-facebook
            %li
              %a.btn-social.btn-outline{:href => "https://google.com/+RicardoGraterol"}
                %i.fa.fa-fw.fa-google-plus
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-twitter
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-linkedin
            %li
              %a.btn-social.btn-outline{:href => "#"}
                %i.fa.fa-fw.fa-dribbble
        .footer-col.col-md-4
          %h3 Acerca de Nice Programing
          %p
            Nice Programing es una aplicación que pretender distribuir
            conocimiento y aprendizaje.

  .footer-below
    .container
      .row
        .col-lg-12
          Copyright © Ricardo Graterol 2014